@charset "utf-8";
@font-face {
    font-family: 'BlueWinter';
    src: url('../fonte/BlueWinter.otf') format('opentype'),
         url('../fonte/BlueWinter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Grandstander';
    src: url('../fonte/Grandstander-clean.otf') format('opentype'),
         url('../fonte/Grandstander-clean.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Grandstander', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #FAF3E1;
}


p{
	font-size: 1.3vw;
}

h1{
	font-size: 2vw;
}

a{
	text-decoration: none;
    color: white;
}

a:visited{
	text-decoration: none;
}

a:hover{ 
	text-decoration: none; 
}

a:focus{ 
	text-decoration: none;
	color:#ffc0c7;
}

a:hover, a:active{
	text-decoration: none;
	color:#ffc0c7;
}

input[type="submit"]{
    padding: 0.5vw;
	background-color: #444c53;
    color: white;
}

input[type="submit"]:hover{
    color:#ffc0c7;
}

input[type="button"]{
    padding: 0.5vw;
	background-color: #444c53;
    color: white;
}

input[type="button"]:hover{
    color:#ffc0c7;
}

/* Estilo do topo das páginas */

.topo{
    /* From https://css.glass */
    background: #fcd4d9 ;
    border-radius: 0vw 0vw 100vw 100vw;
    box-shadow: 0 0.2vw 1.6vw rgba(0, 0, 0, 0.1);
    border: 0.1vw solid rgba(255, 112, 129, 0.35);
	width: 30%;
	height: 10vw;
    margin: 0 auto;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.topo img{
	height: 12vw;
}

/* Estilo do carrossel de imagens */


.colecao-linhas{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.04);
    border-radius: 0.8vw 0.8vw 0vw 0vw;
    box-shadow: 0 0.2vw 1.6vw rgba(0, 0, 0, 0.1);
    border: 0.2vw solid rgba(255, 192, 199, 0.35);
	margin: 1vw auto;
    width: 82%;
}

.titulo{
    font-family: 'BlueWinter', sans-serif;
	color: #bdffba;
    -webkit-text-stroke: 0.1vw #89c3a8; /* width and color */
    background-image: url("../img/madeira.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 1vw 2.5vw;
}

.nome-conteiner{
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin: 0.5vw;
}

.colecao-img{
	text-align: center;
    height: 15vw;
	width: 15vw;
    border-left: 0.2vw solid rgba(255, 255, 255, 0);
	border-right: 0.2vw solid rgba(255, 255, 255, 0);
}

.colecao-img-overlay{
	opacity: 0;
	height: 15vw;
	width: 15vw;
	transition: 0.5s;
	position:relative;
}

.colecao-img-overlay:hover{
	opacity: 1;
	background: linear-gradient(to bottom, rgba(255,0,0,0), rgb(20, 20, 20));
}

.colecao-img span{
	position: absolute;
    bottom: 1vw;
	right: 0;
	left: 0;
}

.colecao-img h1{
	color: rgb(235, 235, 235);
}

.tns-controls{
    width: 81.7%;
    margin-top: 7.5vw;
    position: absolute;
    display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.tns-controls *{
    z-index: 2;
    height: 3vw;
    width: 4vw;
    background: none;
    border: none;
    background-image: url("../img/arrow.png");
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: right;
}
.tns-controls :first-child{
    margin-left: -3vw;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.tns-controls :first-child:hover{
    transition: all 0.1s;
    margin-left: -4vw;
}

.tns-controls :last-child{
    margin-right: -3vw;
}

.tns-controls :last-child:hover{
    transition: all 0.1s;
    margin-right: -4vw;
}


/* Estilo da grade de eventos */

.evento-conteiner{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.04);
    border-radius: 0.8vw 0.8vw 0vw 0vw;
    box-shadow: 0 0.2vw 1.6vw rgba(0, 0, 0, 0.1);
    border: 0.1vw solid rgba(255, 255, 255, 0.35);
    margin: 10vw auto;
    width: 82%;
}

.evento-grid{
	text-align: center;
	width: 100%;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, 20vw);
	gap: 0.2vw;
}

.evento-img{
	text-align: center;
	height: 20vw;
}

.evento-img-overlay{
	opacity: 0;
	max-width: 100%;
	height: 100%;
	transition: 0.5s;
	position:relative;
}

.evento-img-overlay:hover{
	opacity: 1;
	background: linear-gradient(to bottom, rgba(255,0,0,0), rgb(20, 20, 20));
}

.evento-img span{
	position: absolute;
    bottom: 0.5vw;
	right: 0;
	left: 0;
}

.evento-img h1{
	position: relative;
	top: 70%;
	color:rgb(235, 235, 235);

}

/* Estilo do sobre */

.sobre-conteiner{
    margin: 0 auto;
    width: 70%;
    padding: 1vw;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.04);
    border-radius: 0.8vw;
    box-shadow: 0 0.2vw 1.6vw rgba(0, 0, 0, 0.1);
    border: 0.2vw solid rgba(255, 192, 199, 0.35);
}

.sobre-conteudo{
    margin-top: 2.5vw;
    display: flex;
}

.sobre-foto{
    margin: 0 1vw;
    height: 20vw;
    width: 150vw;
}

.sobre-foto img{
    border: 0.2vw solid rgba(255, 192, 199, 0.35);
    border-radius: 0.5vw;
    height: 100%;
    width: 100%;
}

.sobre-texto{
    color: #bb7953;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
    text-align: center;
    width: 300vw;
    min-height: 20vw;
    padding: 0.3vw;
    margin: 0 1vw;
    background: #FFFBF1;
    border-radius: 0.8vw;
    box-shadow: 0 0.2vw 1.6vw rgba(0, 0, 0, 0.1);
    border: 0.1vw solid rgba(255, 112, 129, 0.35);
}

.sobre-lista h2{
    color: #864b1f;
}
s
.sobre-texto p{
    color: #bb7953;
    font-size: 1.05vw;
    margin-bottom: 0.5vw;
}

.sobre-link{
	text-decoration: none;
    color: #bb7953; 
}

.sobre-link:visited{
	text-decoration: none;
}

.sobre-link:hover{ 
	text-decoration: none; 
}

.sobre-link:focus{ 
	text-decoration: none;
	color:#ffc0c7;
}

.sobre-link:hover, .sobre-link:active{
	text-decoration: none;
	color:#ffc0c7;
}

.sobre-lista{
    text-align: center;
    margin: 1.2vw auto;
    width: 99%;
}

.sobre-lista li{
    color: #bb7953;
    margin-left: 1vw;
    margin-bottom: 0.5vw;
    font-size: 1vw;
    list-style: none;
}

/* Estilo do rodapé */

footer{
	padding: 0.5vw;
	border-top: 0.3vw solid #1e252c;
    margin-top: 0.3vw;
	background-color: #334352;
	width: 100%;
	min-height: 7vw;
	color: white;
}
footer p{
    font-size: 1vw;
}

h2{
    font-size: 2vw;
}

.rodape{
    margin: 0.5vw auto;
    width: 33%;
}

.rodape-img{
    text-align: center;
}

.rodape-img img{
    width: 5vw;
    height: 5vw;
}

.informacao{
    text-align: center;
}

.restrito{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
    background-color: #89c3a891;
    right: 1vw;
    margin:1.2vw;
    position: absolute;
    width: 3vw;
    height: 3vw;
    border-radius: 2vw;
}

.restrito img{
    width: 70%;
    height: 70%;
}

.restrito a{
    text-align: center;
}

/* Estilo das páginas de gerenciamento */

.ferramentas{
    padding: 2vw;
    width: 90%;
	margin: 0.5vw auto;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.04);
    border-radius: 0.8vw;
    box-shadow: 0 0.2vw 1.6vw rgba(0, 0, 0, 0.1);
    border: 0.2vw solid rgba(255, 192, 199, 0.35);
}
.ferramentas p{
    margin-top: 0.3vw;
    margin-left: 0.5vw;
}
.ferramentas h1{
    text-align: center;
}
.ferramentas h1,h2{
    margin-bottom: 0.5vw;
}
.ferramentas input[type=submit]{
    margin-left: -0.5vw;
}

.voltar{
	padding: 0.5vw;
	background-color: #444c53;
    right: 1vw;
    margin: 0.5vw 1.2vw;
    position: absolute;
	border-radius: 0.5vw;
}

.login-container{
    width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
    margin-bottom: 3.8vw;
}

.login{
    text-align: center;
    margin-top: 5vw;
    padding: 3.2vw;
    background-color: rgb(165, 124, 74);
    border-radius: 2vw;
}

.excluirCB-grid{
	width: 50%;
	display: grid;
	grid-template-columns: repeat(auto-fit, 15vw);
	gap: 0.2vw;
}

.excluirCB-opcao{
    text-align: center;
}

.excluirEvento-grid{
	width: 80%;
	display: grid;
	grid-template-columns: repeat(auto-fit, 20vw);
	gap: 0.2vw;
}

.excluirEvento-opcao{
    text-align: center;
}

.excluirCB-all{
    margin: 1vw 0;
}

#msg{
    color: rgb(104, 6, 6);
}

/* Responsividade */

@media screen and (max-width: 500px) {

	p{
		font-size: 3vw;
	}

	h1{
		font-size: 5.4vw;
	}
    h2{
        font-size: 3vw;
    }

	.topo{
        width: 70%;
		height: 30vw;
        border-radius: 0vw 0vw 20vw 20vw;
        margin-bottom: 10vw;
	}

	.topo img{
		height: 35vw;
	}

    .colecao-linhas{
        overflow: hidden;
        padding-top: 0.5vw;
        border-radius: 5vw 5vw 0vw 0vw;
    }

    .evento-conteiner{
       border-radius: 5vw 5vw 0vw 0vw; 
    }

    .titulo{
        font-size: 4vw;
        margin-bottom: 2vw;
    }

	.colecao-img{
		height: 40vw;
		width: 40vw;
	}

    .tns-controls{
        display: none;
    }

	.evento-grid{
		grid-template-columns: repeat(2, 38vw);
		gap: 1vw;
        padding-bottom: 1vw;
	}

	.evento-img{
		height: 38vw;
	}

    .sobre-conteiner{
        width: 90vw;
    }

    .sobre-foto{
        height: 30vw;
    }

    .sobre-texto p{
        font-size: 2vw;
    }

    .sobre-lista{
        margin-top: 3vw;
    }

    .restrito{
        width: 4vw;
        height: 4vw;
    }

    .restrito a{
        font-size: 1vw;
    }

    .restrito img{
        width: 60%;
        height: 60%;
    }

    .rodape{
        text-align: center;
        width: 100%;
    }

    .rodape img{
        width: 10vw;
        height: 10vw;
    }

    footer{
        align-content: center;
        display: block;
    }

    footer p{
        font-size: 2vw;
    }

    footer a{
        font-size: 2vw;
    }
	
}