@charset "utf-8";
@font-face {
    font-family: 'BlueWinter';
    src: url('../fonte/BlueWinter.ttf') format('truetype'),
        url('../fonte/BlueWinter.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Grandstander';
    src: url('../fonte/Grandstander-clean.ttf') format('truetype'),
        url('../fonte/Grandstander-clean.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: sans-serif;
    font-size: 1vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
	background-color: #ffe0e4;
    background-image: url("../img/xadrez.png");
    background-size: 100% auto;
}

p{
	font-size: 1.3vw;
}

h1{
	font-size: 2vw;
}

a{
    color:#89c3a8;
	text-decoration: none;
	font-size: 2vw;
}

a:visited{
	text-decoration: none;
	color:#89c3a8;
}

a:hover{ 
	text-decoration: none; 
	color:#ffc0c7;
}

a:focus{ 
	text-decoration: none;
	color:#ffc0c7;
}

a:hover, a:active{
	text-decoration: none;
	color:#ffc0c7;
}

/* Estilo do topo das páginas */

.topo{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.04);
    border-radius: 0px 0px 100px 100px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border: 1px solid rgba(255, 255, 255, 0.35);
	width: 100%;
	height: 10vw;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.topo img{
	height: 9vw;
}

/* Estilo do carrossel de imagens */


.colecao-linhas{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.04);
    border-radius: 16px 16px 0px 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.3px);
    -webkit-backdrop-filter: blur(1.3px);
    border: 1px solid rgba(255, 255, 255, 0.35);
	margin: 1vw auto;
    width: 82%;
}

.colecao-nome{
    font-family: 'BlueWinter', sans-serif;
	color: #bdffba;
    -webkit-text-stroke: 0.1vw #89c3a8; /* width and color */
    background-image: url("../img/madeira.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 1vw;
}

.nome-conteiner{
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin: 0.5vw;
}

.colecao-img{
	text-align: center;
	border-left: 0.1vw solid rgba(255, 255, 255, 0);
	border-right: 0.1vw solid rgba(255, 255, 255, 0);
	height: 15vw;
	width: 15vw;
}

.colecao-img-overlay{
	opacity: 0;
	max-width: 100%;
	height: 100%;
	transition: 0.5s;
	position:relative;
}

.colecao-img-overlay:hover{
	opacity: 1;
	background: linear-gradient(to bottom, rgba(255,0,0,0), rgb(20, 20, 20));
}

.colecao-img span{
	position: absolute;
    bottom: 0;
	right: 0;
	left: 0;
}

.colecao-img h1{
	color: rgb(235, 235, 235);
}

.tns-controls{
    width: 100%;
    margin-top: 7.5vw;
    position: absolute;
    display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.tns-controls *{
    z-index: 2;
    height: 3vw;
    width: 2vw;
    background: none;
    border: none;
    background-image: url("../img/arrow.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.tns-controls :first-child{
    margin-left: -3vw;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.tns-controls :last-child{
    
    margin-right: -3vw;
}


/* Estilo da grade de eventos */

.evento-conteiner{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.04);
    border-radius: 16px 16px 0px 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.3px);
    -webkit-backdrop-filter: blur(1.3px);
    border: 1px solid rgba(255, 255, 255, 0.35);
	/*border-top: 0.3vw solid rgb(1, 73, 38);*/
    margin: 3vw auto;
    width: 82%;
}

.evento-titulo{
    font-family: 'BlueWinter', sans-serif;
	color: rgb(134, 90, 68);
	text-align: center;
	margin: 1.2vw;
}

.evento-grid{
	text-align: center;
	width: 100%;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, 20vw);
	gap: 0.2vw;
}

.evento-img{
	text-align: center;
	height: 20vw;
}

.evento-img-overlay{
	opacity: 0;
	max-width: 100%;
	height: 100%;
	transition: 0.5s;
	position:relative;
}

.evento-img-overlay:hover{
	opacity: 1;
	background: linear-gradient(to bottom, rgba(255,0,0,0), rgb(20, 20, 20));
}

.evento-img span{
	position: absolute;
    bottom: 0;
	right: 0;
	left: 0;
}

.evento-img h1{
	position: relative;
	top: 70%;
	color:rgb(235, 235, 235);

}

/* Estilo do rodapé */

footer{
    display: flex;
	padding: 0.5vw;
	border-top: 0.3vw solid #1e252c;
    margin-top: 0.3vw;
	background-color: #334352;
	width: 100%;
	min-height: 12vw;
	color: white;
}
footer p{
    font-size: 1vw;
}

h2{
    font-size: 2vw;
}

.rodape{
    width: 33%;
	margin: 0.5vw;
}

.rodape li{
    margin-left: 1.2vw;
}

.rodape-img{
    text-align: center;
}

.rodape-img img{
    width: 10vw;
    height: 10vw;
}

.informacao{
    text-align: center;
}

.restrito{
    right: 1vw;
    margin: 0 1.2vw;
    position: absolute;
    width: 2vw;
    height: 2vw;
}

.restrito img{
    width: 100%;
    height: 100%;
}


.restrito p{
    font-size: 1.3vw;
}

/* Estilo das páginas de gerenciamento */

.ferramentas{
	margin: 0.5vw;
    border-bottom: solid #263340 3px;
    border-radius: 5px ;
}
.ferramentas p{
    margin-top: 5px;
    margin-left: 10px;
}
.ferramentas h1,h2{
    margin-bottom: 6px;
}
.ferramentas input[type=submit]{
    margin-left: -10px;
}

.voltar{
	padding: 0.5vw;
	background-color: #444c53;
	display: inline-block;
	margin: 1vw;
	border-radius: 0.5vw;
}

.login-container{
    width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.login{
    text-align: center;
    margin-top: 5vw;
    padding: 3.2vw;
    background-color: rgb(165, 124, 74);
    border-radius: 2vw;
}

.excluirCB-grid{
	width: 50%;
	display: grid;
	grid-template-columns: repeat(auto-fit, 15vw);
	gap: 0.2vw;
}

.excluirCB-opcao{
    text-align: center;
}

.excluirEvento-grid{
	width: 80%;
	display: grid;
	grid-template-columns: repeat(auto-fit, 20vw);
	gap: 0.2vw;
}

.excluirEvento-opcao{
    text-align: center;
}

.excluirCB-all{
    margin: 1vw 0;
}

#msg{
    color: rgb(104, 6, 6);
}

/* Responsividade */

@media screen and (max-width: 500px) {
	a{
		font-size: 4vw;
	}

	p{
		font-size: 3vw;
	}

	h1{
		font-size: 5.4vw;
	}
    h2{
        font-size: 3vw;
    }

	.topo{
		height: 30vw;
	}

	.topo img{
		height: 29vw;
	}

	.colecao-img{
		height: 40vw;
		width: 40vw;
	}

    .tns-controls{
        display: none;
    }

	.evento-grid{
		grid-template-columns: repeat(2, 45vw);
		gap: 0.1vw;
	}

	.evento-img{
		height: 45vw;
	}

    .restrito{
        width: 3vw;
        height: 3vw;
    }

    .rodape{
        text-align: center;
        width: 100%;
    }

    footer{
        align-content: center;
        display: block;
    }

    footer ul{
        list-style-type: none;
    }

    .rodape li{
        margin-left: auto;
    }

    footer p{
        font-size: 2vw;
    }
	
}